<div class="container">
  <app-header></app-header>
  <div class="vehicle-overview-container">
    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="!loading && !errorMessage">
      <span class="p-input-icon-right search-input-container">
        <i class="pi pi-search"></i>
        <input
          type="text"
          placeholder="Search..."
          (input)="onSearch($event)"
          class="search-input"
          pInputText
        />
      </span>
      <p-table [value]="filteredVehicles">
        <ng-template pTemplate="header">
          <tr>
            <th>Car Name</th>
            <th>Price</th>
            <th>Mileage</th>
            <th>Color</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
          <tr>
            <td>{{ vehicle.name | VehicleNamePipe }}</td>
            <td>{{ vehicle.price }}</td>
            <td>{{ vehicle.mileage }}</td>
            <td>{{ vehicle.color }}</td>
            <td>
              <i
                [ngClass]="
                  vehicle.active ? 'pi pi-check-circle' : 'pi pi-stop-circle'
                "
              ></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
